.App {
  text-align: center;
}

.singleEvent {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  height: 125px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-color: grey;
  border-style: solid;
  margin: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.singleEventBody {
  width: 60%;
  margin: 5px;
}

.fastSelling {
  background-color: yellow;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px;
}

.lastDate {
  background-color: lightskyblue;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px;
}

.cheapestInCity {
  color: green;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px;
}

.soldOut {
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px;
}

#citySelect {
  margin-left: 20px;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 5px;
}

h3 {
  margin: 5px;
}

nav {
  background-color: black;
  color: white;
  height: 75px;
  display: flex;
  align-items: center;
  border-bottom: lightgrey solid;
}
